<div class="container text-center">
<h1>Bikme</h1>
<p>Faites du tourisme à Vélo</p>
<p>Location de vélo entre particulier</p>
<%= link_to "Tous les vélos", listings_path, class: "btn btn-success" %>
</div>